 /*INDEX*/

 /* Barra de navegación */
 header {
     margin: 0px 5px;
     padding: 10px;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: normal;

     background-color: #f8f4f4;
     /* Cambia este valor por el color que desees */
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
     /* Establece el sombreado */


 }

 .nav_prin {
     display: flex;
     justify-content: space-between;
     align-items: stretch;

 }


 .img_log {
     width: 100px;
     margin: 10px 0px 10px 0px;

 }

 .input_search {
     width: 150px;
     margin: 17px;
     border-radius: 5px;
     border: 2px solid #083d10;


 }

 .button_search {
     border: none;


 }

 .ul_nav {
     margin: 20px 0px 0px 10px;

 }

 .link_nav {
     margin: 5px 0px 0px 0px;
     display: inline;
     list-style-type: none;
     padding: 10px;
     color: black;


 }

 nav a {
     font-size: 0.8rem;

     text-decoration: none;
     color: #083d10;
 }

 nav a:hover {
     color: #c78c19;
 }

 .boxiconsFcIg {

     text-align: left;
 }

 /* 


 div a {
     /*Esto esta siendo aplicado a los iconos de facebook e instagram de la barra de navegacion osea a la etiqueta <div> en donde se encuentra la etiqueta <a>*/
 /* text-decoration: none;
     color: #083d10;
 } 
 */

 div a:hover {
     /*Esta siendo aplicada en la etiqueta <a> que esta dentro del contendor <div> donde estan los iconos de la barra de navegación Fc e Ig*/
     color: #c78c19;
 }

 .boxiconsFcIg {
     /*lo esta aplicando a los iconos de la barra de navegación esta es la caja de los iconos*/
     width: 100px;
     margin: 20px 0px 0px 0px;

 }




 /*Main-index*/







 /* quienes somos */
 /* Main */
 .section-mainqs { 


     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto auto auto;
     grid-gap: 10px;
     grid-column-gap: 130px;
 }

 .main-h2 {
     font-weight: bolder;
     padding: 10px;
 }

 .div1 {
     grid-column: 1 / span 2;
     text-align: center;
     margin-top: 40px;
     margin-bottom: 20px;
     font-weight: 700;
     font-size: 1.5rem;
     text-decoration-line: underline;
 }

 .div2 {
     grid-row: 2;
     grid-column: 2;
     padding: 20px;
     margin-left: 20px;
 }

 .div3 {
     grid-row: 2;
     grid-column: 1;
     width: 200px;
     margin-left: 40px;
     padding: 10px;
 }

 .div4 {
     grid-row: 4;
     grid-column: 1;
     margin-left: 40px;
     padding: 10px;
 }

 .div5 {
     grid-row: 5;
     grid-column: 1;
     margin-left: 40px;
     padding: 10px;
 }

 .img_log-qs {
     width: 200px;

 }

 .image-nursery {
     width: 300px;
     border-radius: 5px;
     background-color: #f5efef;
     /* Cambia este valor por el color que desees */
     box-shadow: 3px 3px 7px#040404;
     /* Establece el sombreado */
 }

 .paragraph {
     width: 500px;
 }


 .banner {
     /*caracteristicas para hacer un banner */
     height: 200px;
     /* ajusta la altura a tu gusto */
     background-color: #f1f1f1;
     /* color de fondo por defecto */
     background-image: url('../Imagenes/banner2.jpg');
     background-size: cover;
     /*hace que la imagen de fondo se ajuste de manera proporcional al tamaño del contenedor y cubra todo el área del mismo sin deformar la imagen. */
     background-position: center;
     position: relative;
 }

 .banner img {
     display: none;
     /* oculta la imagen para que solo se muestre el fondo */
 }



 /* Medidas responsivas */

 @media (min-width: 900px) and (max-width: 1100px) {}


 @media only screen and (max-width:850px) {

     /* Index/Nav */
     header {
         display: flex;
         justify-content: space-around;
         align-items: normal;
         width: 100%;
     }

     .nav_prin {

         flex-direction: column;



     }


     .search {
         float: right;
         text-align: right;

     }

     .input_search {
         width: 100px;
     }

     .boxiconsFcIg {
         display: none;
     }




     /* Index/Main */
     .div_articule {

         display: grid;
         grid-template-columns: 300px 300px;
     }

     /* section/main/index */
     .carousel {
         display: none;
     }


     .div1 {
         text-align: start;
         padding: 20px;

     }

     .div2 {
         display: none;
     }


 }


 @media (min-width: 300px) and (max-width: 570px) {

     /* Estilos a aplicar cuando la pantalla tiene un ancho entre 300px y 570px */

     .div_articule {

         display: grid;
         grid-template-columns: 300px
     }


 }